# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Chapter2/nbproject/private/
/Chapter2/build/
/Chapter3/nbproject/private/
/Chapter3/build/
/Chapter3-Morning/nbproject/private/
/Chapter3-Morning/build/
/Project1PizzaParty/nbproject/private/
/Project1PizzaParty/build/
/Chapter4/nbproject/private/
/Chapter4/build/
/Chapter4-Morning/nbproject/private/
/Chapter4-Morning/build/
/Project1Morning/nbproject/private/
/Project1Morning/build/
/Methods/nbproject/private/
/Methods/build/
/Project2-Evening-Shell/nbproject/private/
/Methods-Morning/nbproject/private/
/Methods-Morning/build/
/Project2MorningShell/nbproject/private/
/Project2MorningShell/build/
/Project2-Evening/nbproject/private/
/Project2-Evening-Shell/build/
/Project2-Evening/build
/Chapter7Classes/nbproject/private/
/Chapter7Classes/build/
/Chapter7Classes-Morning/nbproject/private/
/Chapter7Classes-Morning/build/
/Inheritance-Evening/nbproject/private/
/Inheritance-Evening/build/
/Chapter8Inheritance/nbproject/private/
/Chapter8Inheritance/build/
/Project3/nbproject/private/
/Project3/build/
/MidtermReview/nbproject/private/
/ArraysAndArrayLists/nbproject/private/
/ArraysAndArrayLists/build/
/Project3-Morning/nbproject/private/
/Project3-Morning/build/
/MidtermReview-Morning/nbproject/private/
/ArraysAndArrayLists-Monring/nbproject/private/
/ArraysAndArrayLists-Monring/build/
/FileIOExamples/nbproject/private/
/FileIOExamples/build/
/FileInputOutput/nbproject/private/
/FileInputOutput/build/
/GUIHelloWorld/nbproject/private/
/GUIHelloWorld/build/
